.product-card {
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 250px;
  display: grid;
  place-items: center;
}
.product-card img {
  width: 80px;
  height: auto;
}
.product-card-title,
.product-card-price {
  margin: 0;
}
.product-card-title {
  margin-bottom: 0.5rem;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
